# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Database
*.db

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# IDE
.vscode/
.idea/

# ML models
*.task
*.onnx
*.pt